body {
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    
}

li {
    margin-right: 30px;
}

.heading-container {
    display: flex;
    flex-flow: column wrap;
    font-family: Roboto;
    background-color: #1F2937;
}

.header-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline;
    
}

.nav {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #E5E7EB;
    justify-content: space-between;

}




.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-container {
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items: center;
    height: 400px;

}

.hero-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 475px;
    margin-right: 100px;
    
}
 .hero-image img {
    width: 700px;
    height: 300px;
 }

 .hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 0;
    padding: 0;
 }

 .hero-text p {
    margin: 0;
    padding: 0;
 }

 .hero-secondary-text {
    color: #E5E7EB;
    font-size: 18px;
 }

 .hero-signup button {
    background-color: #3882F6;
    color: white;
    padding: 7px 35px 7px 35px;
    box-shadow: none;
    border-radius: 5px;
    font-size: Roboto;
    margin-top: 10px;
}

.body-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 400px;
}

.body-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 30px;
}

.body-images {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-align: center;

}

.body-image {
    display: flex;
    flex-flow: column wrap;
    width: 160px;
    margin: 25px;
    
}
.image-1, .image-2, .image-3, .image-4 {
    border: 3px solid #3882F6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.text {
    color: rgb(100,100,100);
    margin-top: 10px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.quote p {
    margin: 0;
    padding: 0;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    text-decoration: italic;
    color: #1F2937;
    width: 775px
}

.quoter {
    width: 800px;
    align-self: flex-end;
    font-size: 36px;
}